<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="dvt_robot">
    
    <xacro:arg name="use_ros2_control_gz_sim"       default="false"/>

    <!-- Robot_frames -->
    <xacro:include filename = "robot_core.xacro" />
    <xacro:include filename = "ros2_control.xacro" />
        
    <!-- Sensors -->
    <xacro:include filename = "lidar.xacro" />

</robot>